body {
    font-family: 'Ubuntu', sans-serif;
}

.all-page {
    background-image: url("../img/pagebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

}

.nav-bar {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 58px;
}

.main-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 79px;
    transition: 0.7s;
}

.main-title:hover {
    color: #3CB878;
   
}

.bar-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-txt {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 79px;
    margin-left: 21px;
}

.icon-txt-link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.7s;
}

.icon-txt-link:hover {
    color: #3CB878;
}

.post-icon {
    margin-left: 27px;

}

.compas-icon {
    margin-left: 24px;
}

.line-icon {
    margin-left: 25px;
}

svg.calendar-icon:hover path {
    fill: #3CB878;
    transition: 0.7s;
}

svg.post-icon:hover path {
    fill: #3CB878;
    transition: 0.7s;
}

svg.compas-icon:hover path {
    fill: #3CB878;
    transition: 0.7s;
}

svg.line-icon:hover rect {
    fill: #3CB878;
    
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 59px 38px 61px;
    margin: 54px auto;
    box-sizing: border-box;
    width: 444px;
    position: relative;

}

.form-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-title {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}

.form-link-log {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    transition: 0.7s;
}

.form-link-log:hover {
    color: #01813F;
    text-decoration: underline;
}

.green-box {
    position: absolute;
    left: 0;
    top: 32px;
    background-color: #3CB878;
    width: 18px;
    height: 18px;

}

.social-submit {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.facebook-btn {
    background-color: #305DB8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 157px;
    min-height: 46px;
    border-radius: 4px;
    border: none;
    transition: 0.7s;
   
    
}
.social-btn-line{
    margin-right: 10px;
}
.facebook-btn:hover {
    background-color: #022263;
}

.btn-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    padding-right: 15px;
       
}

.google-btn {
    background-color: #DF4A32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 157px;
    min-height: 46px;
    border-radius: 4px;
    border: none;
    transition: 0.7s;

}

.google-btn:hover {
    background-color: #AB1F09;
}

.alter-log {
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
}

.alter-log::before,
.alter-log::after {
    content: "";
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.login-input {
    margin-top: 15px;
    box-sizing: border-box;
    min-width: 324px;
    min-height: 46px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
}

.login-input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}

::-webkit-input-placeholder {
    color: #BEBEBE;
}

:-moz-placeholder {
    color: #BEBEBE;
}

::-moz-placeholder {
    color: #BEBEBE;
}

:-ms-input-placeholder {
    color: #BEBEBE;
}

.login-checkbox-block {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: transparent;
    margin-right: 19px;
    

}

.login-checkbox {
    display: flex;
    align-items: center;
    color: #434343;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    margin-top: 12px;
}

.login-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.login-checkbox input[type="checkbox"]:checked+.login-checkbox-block {
    background-image: url("../img/checkboxcheck.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1px;

}
.login-checkbox-link{
    text-decoration: none;
    color: #3CB878;
    margin-left: 2px;
}
.login-checkbox input[type="checkbox"]:checked ~ .login-checkbox-link{
    color: #01813F;
    text-decoration: underline;
    transition: 0.7s;
}
.submit-btn {
    background-color: rgba(60, 184, 120, 0.8);
    box-sizing: border-box;
    min-width: 324px;
    min-height: 46px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.7s;
}
.submit-btn:hover{
    background-color:#01813F;
}
